<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vehicle-type-heading" jhiTranslate="logValueApp.vehicleType.home.createOrEditLabel">Create or edit a Vehicle Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vehicleType.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vehicleType.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logValueApp.vehicleType.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="vehicleType.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logValueApp.vehicleType.factor" for="field_factor">Factor</label>
                    <input type="number" class="form-control" name="factor" id="field_factor"
                        [(ngModel)]="vehicleType.factor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logValueApp.vehicleType.regularLoad" for="field_regularLoad">Regular Load</label>
                    <input type="text" class="form-control" name="regularLoad" id="field_regularLoad"
                        [(ngModel)]="vehicleType.regularLoad" mask="0*" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logValueApp.vehicleType.maximumLoad" for="field_maximumLoad">Maximum Load</label>
                    <input type="text" class="form-control" name="maximumLoad" id="field_maximumLoad"
                        [(ngModel)]="vehicleType.maximumLoad" mask="0*" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
