<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        
        <h1 class="display-4" jhiTranslate="home.title">Welcome</h1>
        <p class="lead" jhiTranslate="home.subtitle">home subtitle</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> 
                    You are logged in as user "{{account.login}}". 
                </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                <span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            
        </div>

        <div class="home-box">
            <p jhiTranslate="home.question" >
                Do you want to know more about us?
            </p>

            <div class="row" style="width: 70%">
                <div class="col">
                    <a href="https://www.softplan.com.br/" target="_blank" rel="noopener">
                        <span class="softplan-icon img-fluid rounded"></span>
                    </a>
                </div>
                <div class="col">
                        <a href="https://www.facebook.com/softplanonline" target="_blank" rel="noopener">
                            <span class="facebook-icon img-fluid rounded"></span>
                        </a>
                    </div>
                <div class="col">
                    <a href="https://twitter.com/softplanonline" target="_blank" rel="noopener">
                        <span class="twitter-icon img-fluid rounded"></span>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.linkedin.com/company/softplan-planejamento-de-sistemas-ltda/" target="_blank" rel="noopener">
                        <span class="linkedin-icon img-fluid rounded"></span>
                    </a>
                </div>
                <div class="col">
                    <a href="https://plus.google.com/u/1/+SoftplanBr" target="_blank" rel="noopener">
                        <span class="google-icon img-fluid rounded"></span>
                    </a>
                </div>
            </div>
        </div>
        
        <p class="home-box">
            <button id="jh-create-entity" class="btn btn-primary float-left jh-create-entity create-estimate" 
                    [routerLink]="['/freight/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
        
                <span  jhiTranslate="home.estimateHome">
                        Perform your calculation now!
                </span>
            </button>
        </p>
    </div>
</div>
